@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

/* As they are used in socials.ts and no templates, they are purged by Tailwind if defined in @theme */
:root {
  --color-social-facebook: 	oklch(from #1877F2 l c h / 1);
  --color-social-twitter: 	oklch(from #1DA1F2 l c h / 1);
  --color-social-linkedin: 	oklch(from #0A66C2 l c h / 1);
  --color-social-github: 		oklch(from #08872B l c h / 1);
  --color-social-dribbble: 	oklch(from #EA4C89 l c h / 1);
}

/* Scale used for font sizes is Major Third (1.250) */
@theme {
  --breakpoint-*: 					initial;
  --breakpoint-mobile: 			40rem;
  --breakpoint-tablet: 			61.5rem;

	--color-pp-beige: 				oklch(from #FCFBF4 l c h / 1);
	--color-pp-black: 				oklch(from #302D2D l c h / 1);
	--color-pp-blue: 					oklch(from #48A7A9 l c h / 1);
	--color-pp-brown: 				oklch(from #726153 l c h / 1);
	--color-pp-red: 					oklch(from #F0784D l c h / 1);
	--color-pp-yellow: 				oklch(from #F3BD4F l c h / 1);
	--color-social-facebook:  var(--color-social-facebook);
	--color-social-twitter:  	var(--color-social-twitter);
	--color-social-linkedin:  var(--color-social-linkedin);
	--color-social-github:  	var(--color-social-github);
	--color-social-dribbble:  var(--color-social-dribbble);

	--font-sans: 							"Libre Franklin Variable", ui-sans-serif, sans-serif;
  --font-serif: 						"ITC Souvenir Std", ui-serif, serif;
  --font-mono: 							"JetBrains Mono Variable", ui-monospace, monospace;

	--text-xs: 								initial;
	--text-sm: 								0.8rem;
	--text-lg: 								1.25rem;
	--text-xl: 								1.5625rem;
	--text-2xl: 							1.953125rem;
	--text-3xl: 							2.439375rem;
	--text-4xl: 							3.051875rem;
	--text-5xl: 							3.815rem;
	--text-6xl: 							initial;
	--text-7xl: 							initial;
	--text-8xl: 							initial;
	--text-9xl: 							initial;
}

.dark {
	--color-pp-beige: 				oklch(from #282828 l c h / 1);
	--color-pp-black: 				oklch(from #FBF1C7 l c h / 1);
	--color-pp-blue: 					oklch(from #458588 l c h / 1);
	--color-pp-brown: 				oklch(from #98971A l c h / 1);
	--color-pp-red: 					oklch(from #CC241D l c h / 1);
	--color-pp-yellow: 				oklch(from #D79921 l c h / 1);
}

@layer components {
  .btn {
    @apply inline-flex items-center gap-3 rounded border border-pp-black px-4 py-3 hover:bg-pp-black hover:text-pp-beige transition-colors;
  }
}