---
title: HelloAsso
date: '2016 · 2022'
banner: 'helloasso.webp'
caption: 'helloasso.com'
logo: 'helloasso.svg'
slug: 'https://www.helloasso.com'
skills: ['Front-end Dev', 'UI Design']
tools: ['Nuxt', 'Vue.js', 'Figma', 'Photoshop', 'Illustrator']
published: true
---
