---
title: Portfolio v2 - L'histoire
description: La version suivante, mais 2 ans plus tard et sans la pression de délais à tenir. Un simple "one-page" avec beaucoup de jQuery.
date: '2026-01-02'
banner: 'portfolio-v2.webp'
tags:
  - dev
  - design
published: true
---
