---
title: Portfolio v2 - The Story
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vulputate libero et velit interdum, ac aliquet odio mattis. Class aptent taciti sociosque lorem ipsum dolor sit amet.
date: '2026-01-22'
hour: '17:40'
categories:
  - dev
published: true
---

## Svelte

Media inside the **static** folder is served from `/`.
